bind 0.0.0.0
port ${PORT}
${PASS}
cluster-enabled yes
cluster-config-file nodes_${PORT}.conf
pidfile /var/run/redis_${PORT}.pid
cluster-node-timeout 5000
appendonly no
daemonize yes
protected-mode no
dir data
